h1 {color:red;
    color:black;

}

.text-title {color:hotpink; 
}

#test_id {color: #27AE70;

}

body {color:navy;
}

body a { color: inherit ;

}

body pre{color:black;
            font-size:smaller;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
         
    
}
